@charset "utf-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #611DF2, #6732D9);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(32, 15, 70, 0.616);
}

h1 {
    color: #FC0D09;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(85, 7, 5, 0.616);
}

h2 {
    color: #6732D9;
}

p {
    text-align: justify;
}